.container-fluid {
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  background-image: url("https://i.redd.it/h6f70szyude31.png");
  background-size: cover;
  color:white;
}

.reg-form-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 80px;
}

td{
  color:white;
}
